# Virtual Environment
.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit secrets & cache
.streamlit/secrets.toml

# Datasets and training temp
dataset_temp/
dataset_clean/
data/
*.zip
